{% extends 'baseA.html' %}


{% block content %}
{% include 'baseMenu.html' %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            {% if messages %}
            <div class="m-9 alert alert-success alert-dismissible fade show" role="alert">
                <ul>
                {% for message in messages %}
                <li class="text-center"> {% if message.tags %} {{ message }}  {% endif %}</li>
                {% endfor %}
                </ul>
                <button type="button" class="close" data-dismiss="alert"> <span>&times;</span> </button>

            </div>
             {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap mb-3">
                        <h2 class="title-3"><a href="{%url 'accueil'%}"><- Accueil </a></h2>
                        <a href="{%url 'ajouter_offre'%}">
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Publier un marché public</button></a>
                    </div>
                </div>
            </div>
            <!-- La liste des marché publics -->
            <h1 class="text-center  text-light pt-3 pb-3" style="background-color: #337ab7; color:#fff;">La liste des marchés publics </h1>
            <style>
                .table-description {
                    max-width: 300px; /* Ajustez cette valeur en fonction de vos besoins */
                    word-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            </style>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-30">
                        <table class="table table-bordered table-data3">
                            <thead>
                                <tr>
                                    <th>Numero du marché</th>
                                    <th>Intitulé du marché</th>
                                    <th>pays</th>
                                    <th>status</th>
                                    <th>Documents</th>
                                    <th>Dates Limite</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for offre in offres %}
                                <tr>
                                    <td>{{ offre.code }}</td>
                                    <td>{{ offre.description|slice:":70" }}...</td>
                                    <td>{{ offre.pays }}</td>
                                    {% if offre.status %} <td class="bg-success text-light ">Ouvert </td>{% else %} <td class="bg-danger text-light ">Fermé </td>{% endif %}

                                    <td>{% if offre.doc1 %}<a href="{{ offre.doc1.url }}"> {{ offre.doc1|cut:"file/"  }}</a> {% endif %} <br>
                                         {% if offre.doc2 %}<a href="{{ offre.doc2.url }}"> {{ offre.doc2|cut:"file/"  }}</a> {% endif %}<br>
                                         {% if offre.doc3 %}<a href="{{ offre.doc3.url }}"> {{ offre.doc3|cut:"file/"  }}</a> {% endif %}<br>
                                         {% if offre.doc4 %}<a href="{{ offre.doc4.url }}"> {{ offre.doc4|cut:"file/"  }}</a> {% endif %}<br>
                                          {% if offre.doc5 %}<a href="{{ offre.doc5.url }}"> {{ offre.doc5|cut:"file/"  }}</a> {% endif %}<br></td>


                                    <td>{{ offre.date_limite }} a {{offre.heure_limite}}</td>
                                    <td>
                                        <div class="table-data-feature">

                                            <a class="mr-1" href="{%url 'modifier_offre' offre.code%}"><button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="modifier">
                                               <i class="zmdi zmdi-edit"></i>
                                            </button></a>

                                            <a href="{%url 'supprimer_offre' offre.code%}"> <button onclick="return confirm('voulez-vous supprimer ce marché public ? ')" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="supprimer">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button></a>

                                        </div>
                                    </td>

                                    </tr>
                                    {%empty%}
                                <h2 class="text-center"> Aucun marché public n'a été enregistré pour le moment </h2>
                                <br>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>


        </div>
        <div class='mb-0'>
            {% if offres.has_previous or offres.has_next %}
            <ul class="pagination justify-content-center">
                <li class="page-item mx-1">
                    {% if offres.has_previous %}
                        <a class="page-link px-3 py-2 border border-primary rounded-full text-primary" href="?page={{ offres.previous_page_number }}">
                            &lt;
                        </a>
                    {% else %}
                        <span class="page-link disabled px-3 py-2 border border-secondary rounded-full cursor-not-allowed">
                            &lt;
                        </span>
                    {% endif %}
                </li>

                {% for num_page in offres.paginator.page_range %}
                    <li class="page-item mx-1">
                        {% if offres.number == num_page %}
                            <a class="page-link active bg-primary text-white px-3 py-2 rounded-full" href="?page={{ num_page }}">
                                {{ num_page }}
                            </a>
                        {% else %}
                            <a class="page-link border border-primary rounded-full text-primary" href="?page={{ num_page }}">
                                {{ num_page }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}

                <li class="page-item mx-1">
                    {% if offres.has_next %}
                        <a class="page-link px-3 py-2 border border-primary rounded-full text-primary" href="?page={{ offres.next_page_number }}">
                            &gt;
                        </a>
                    {% else %}
                        <span class="page-link disabled px-3 py-2 border border-secondary rounded-full cursor-not-allowed">
                            &gt;
                        </span>
                    {% endif %}
                </li>
            </ul>
          {% endif %}


        </div>
    </div>
</div>
  {% endblock %}
