{% extends 'base.html' %}
{% block content %}

<style>
    .center {
      text-align: center;
    }
  
    .submit-btn {
      display: block;
      margin: 30px auto 0;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-bottom:20px;
    }
    input
    {
      width: 100%;
      border: none;
      border: 1px solid blue;
      color: black;
      font-size: 18px;
      height: 35px;
    }
  </style>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card pb-5 pt-5" style="padding-left:100px; padding-right:100px;">

<form    method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 form-group">
    {{ form.as_p }}
    </div>
     <button type="submit" style="margin-bottom:20px;border-radius: 5px;"class="btn btn-primary">Mise à jour du mot de passe</button>
</form>
         {% if form.errors %}
   <div class="alert alert-danger mx-5 alert-dismissible fade show" role="alert">
    <div style="list-style-type: none;"> <!-- Enlever les puces -->
        {% for field_errors in form.errors.values %}
            {% for error in field_errors %}
              <div class="text-center">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
</div>
</div>






{% endblock %}
