{% extends 'base.html' %}
{% block content %}
<style>
  .center {
    text-align: center;
  }

  .submit-btn {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom:20px;
  }
  input
  {
    width: 100%;
    border: none;
    border: 1px solid blue;
    color: black;
    font-size: 18px;
    height: 35px;
  }
</style>

<div class="center">
  <h2>Mot de passe oublié ?</h2>
  <p>Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour la reinitialisation de votre mot de passe.</p>

  <div class="container d-flex justify-content-center align-items-center" style="height: 60vh;">

    <div class="card pb-5 pt-5" style="padding-left:100px; padding-right:100px;">

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3 form-group">

  {{ form.as_p }}
  </div>
  <button type="submit" class="submit-btn">Envoyer l'e-mail</button>
</form>
</div>
</div>
</div>


{% endblock %}