{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:9em;">
    <h2 class="text-center">Message de réinitialisation du mot de passe envoyé</h2>
    <p class="text-center">Nous vous avons envoyé par mail les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
    <p class="text-center">Si vous ne recevez pas de message, veuillez vérifier que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlé le spam dans votre mail .</p>
</div>
    {% endblock %}
