{% extends 'base.html'%}
{% load static %}
{% block content %}

     <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">A propos de nous</h2>
                    <h3 class="section-subheading text-muted">Nos vision, mission et valeurs</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class=" h-100 w-100 rounded-circle img-fluid" src="{% static 'en1.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">VISION</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                 Nous construisons un monde durable où les femmes et les hommes vivent dans un État de droit et ont la liberté de s’épanouir pleinement.
                                 Nous sommes un acteur européen qui renforce l’impact de la Belgique sur le développement international.
                                 En tant que centre de connaissances, nous pensons et agissons en termes d’influence stratégique/politique en faveur du développement.
                                Nos expertises sont en réseau de manière agile et réactive, et réalisent des actions de développement durable, en ligne avec les priorités belges et les objectifs des pays partenaires.

                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="{% static 'EN2.jpg' %}" alt="Mission" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> </h4>
                                    <h4 class="subheading">MISSION</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> Enabel est l’agence de développement du gouvernement fédéral belge ; nous mettons en œuvre la politique belge en matière de développement international.

                Nous accomplissons toute mission de service public qui s’inscrit dans le cadre de l’Agenda 2030 pour le développement durable, en Belgique et à l’étranger.

                Nous offrons l’expertise la plus adaptée, dont l’expertise publique belge, favorisons l’interaction entre tous les acteurs et concluons les meilleurs partenariats possible.

                Enabel renforce l’impact de la Belgique en matière de développement international en exécutant des missions pour des mandants tiers, tant nationaux qu’internationaux.
       </p></div>
                        </div>
                    </li>

                    <li >
                        <div class="timeline-image"><img class="w-100 h-100 rounded-circle img-fluid" src="{% static 'en3.jpg' %}" alt="Valeurs" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">VALEUR</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> <p><b>Engagement :</b> Nous faisons preuve d’engagement et de détermination dans la réalisation de nos tâches individuelles, tout comme dans notre contribution à la réalisation des tâches de notre organisation.</p>
            <p><b>Respect :</b> Nous reconnaissons l’identité et la dignité de chaque individu, apprécions la diversité à sa juste valeur et respectons le savoir-faire, le travail et les idées de nos partenaires, donneurs d’ordre et collègues.</p>
            <p><b>Sens des responsabilités :</b> Nous avons pleinement conscience de notre responsabilité sociétale et entendons contribuer à l’élimination de la pauvreté et à la construction d’un monde équitable.</p>
            <p><b>Intégrité :</b> Dans tout ce que nous faisons, à tous les niveaux et sans aucun avantage personnel, nous faisons preuve de dignité, de fiabilité, de sincérité et d’honnêteté.</p>
</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>

                                <br />
                               A PROPOS
                                <br />

                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

{% endblock%}